#-------------------------------- -*- yaml -*- ---------------------------------#
# Copyright Celeritas contributors: see top-level COPYRIGHT file for details
# SPDX-License-Identifier: (Apache-2.0 OR MIT)
#-----------------------------------------------------------------------------#
# Build using CUDA/ROCm docker images
#-----------------------------------------------------------------------------#

name: build-docker
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true

concurrency:
  group: build-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}-${{github.workflow}}
  cancel-in-progress: true

jobs:
  # TODO: since we don't build on GPU systems with cuda/rocm docker,
  # none of the tests actually run on device
  gpu:
    name: >-
      ${{format('{0}{1}{2}-{3}-{4}',
                matrix.special,
                matrix.special && '-' || '',
                matrix.geometry,
                matrix.buildtype,
                matrix.image)}}
    strategy:
      fail-fast: false
      matrix:
        special: [null]
        geometry: ["orange", "vecgeom"]
        buildtype: ["debug", "ndebug"]
        image: ["rocky-cuda", "ubuntu-rocm"]
        exclude:
          - geometry: "vecgeom"
            image: "ubuntu-rocm" # VecGeom not installed on HIP
          - buildtype: "debug"
            image: "ubuntu-rocm" # Debug builds don't work with HIP
        include:
          - geometry: "vecgeom"
            buildtype: "reldeb"
            image: "rocky-cuda"
          - buildtype: "reldeb"
            geometry: "vecgeom"
            special: "codecov"
            geant: "11.3"
            image: "rocky-cuda"

    env:
      CELER_TEST_STRICT: 0 # TODO: enable with Geant4 v11.3
      CELER_DISABLE_DEVICE: 1 # REQUIRED for GHA runners
      CMAKE_PRESET: >-
        ${{format('{0}-{1}{2}{3}',
                matrix.buildtype,
                matrix.geometry,
                matrix.special && '-' || '',
                matrix.special)}}
    runs-on: ubuntu-24.04
    container:
      image: >-
        docker.io/celeritas/${{
             matrix.image == 'rocky-cuda' && 'ci-rocky-cuda12:2024-12-29'
          || matrix.image == 'ubuntu-rocm' && 'ci-ubuntu-rocm7:2025-11-04'
        }}
    steps:
      - name: Set up environment
        run: |
          . /etc/profile
          echo "/opt/view/bin" >> $GITHUB_PATH
          echo "CMAKE_PREFIX_PATH=${CMAKE_PREFIX_PATH}" >> $GITHUB_ENV
      # NOTE: checkout must occur *after* setting up environment for git tags to work
      # NOTE: depth must be enough to include the previous tag
      - name: Check out Celeritas
        uses: actions/checkout@v4
        with:
          fetch-depth: 383
          fetch-tags: true

      ### CONFIGURE ###

      - name: Configure Celeritas
        run: |
          git config --global --add safe.directory ${PWD}
          ln -fs scripts/cmake-presets/ci-${{matrix.image}}.json CMakeUserPresets.json
          cmake --preset=${CMAKE_PRESET} --log-level=VERBOSE

      ### BUILD ###

      - name: Build Celeritas
        working-directory: build
        run: |
          ninja

      ### TEST ###

      - name: Test Celeritas
        id: test
        run: |
          ctest --preset=base
      - name: Upload test results
        if: >-
          ${{
            always()
            && (steps.test.outcome == 'success'
                || steps.test.outcome == 'failure')
          }}
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{matrix.image}}-${{env.CMAKE_PRESET}}
          path: "test-output/**/*.xml"
          if-no-files-found: error
          retention-days: 1
      - name: Generate and upload coverage report
        uses: ./.github/actions/generate-coverage
        if: >-
          ${{
            matrix.special == 'codecov'
            && !cancelled()
            && steps.test.outcome == 'success'
          }}
        with:
          codecov_token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true

      ### INSTALL ###

      - name: Install Celeritas
        working-directory: build
        run: |
          cmake --install .
      - name: Check installation
        working-directory: install
        run: |
          for exe in orange-update celer-export-geant \
            celer-sim celer-g4; do
            test -x "bin/${exe}"
          done
          ./bin/celer-sim --config
      - name: Build examples
        # TODO: rocm+ndebug fails to propagate HIP library link
        if: >-
          ${{
            !(matrix.image == 'ubuntu-rocm' && matrix.buildtype == 'ndebug')
          }}
        run: |
          . /etc/profile
          # Get Geant4 version number for use by script
          export G4VERSION_NUMBER=$(
            grep -E '^\s*#define\s+G4VERSION_NUMBER' \
              /opt/view/include/Geant4/G4Version.hh \
              | awk '{print $3}'
          )
          ./scripts/ci/test-examples.sh

# vim: set nowrap tw=100:
